<div class="large-6 columns largeleft" data-equalizer-watch>

		<div class="event-section large-12 columns">
				<div class="row container">
					<div class="medium-12 columns">
							<h3 class="event-header">today's event:</h3>
							<h2 class="event-subheader"><%= render "event_or_phrase", games: @games, phrase: @phrase, countdown_phrase: @countdown_phrase %></h2>
					</div>
			</div>
		</div>

		<div class="social-section large-12 columns">
				<div class="row container">
						<div class="medium-12 columns">
								<h3 class="social-header">tell everybody!</h3>
						</div>
				</div>
						<div class="socialist">
							<ul class="socialleft sociallist-final">
								<li>
									<%= link_to image_tag( 'atbp-social01.png'), "http://instagram.com/arethebaronsplaying", target: "_blank" %>
								</li>

								<li>
									<%= link_to image_tag( 'atbp-social02.png'), "http://twitter.com/intent/tweet?text=Does anyone know when the Barons are playing? http://arethebaronsplaying.com/ @arethebarons", target: "_blank" %>
								</li>

								<li>
									<%= link_to image_tag( 'atbp-social03.png'), "http://www.facebook.com/sharer.php?u=http://arethebaronsplaying.com/", target: "_blank" %>
								</li>

								<li>
									<%= link_to image_tag( 'atbp-social04.png'), "mailto:all_your_friends?Subject=arethebaronsplaying.com", target: "_blank" %>
								</li>
							</ul>
							</div>
					
			
		</div>

</div>
