<% i = 0 %>
<% games.each do |game| %>
	<% if game.date.localtime.strftime("%_m/%d")[1..-1] == time_minus_five.strftime("%_m/%d")[1..-1] && game.away == false %>
		<h1 class="main-text answer yesanswer" id="responsive_headline"><%=link_to "YES!", "http://www.milb.com/tickets/singlegame.jsp?sid=t247", target: "_blank" %></h1>
		<% i = 1 %>
		<br>
		<h2 class="main-text2 gamewrap" id="responsive_headline2">
			<% if game.away == false %>
				<span class="next-venue">vs.</span>
				<span class="next-opponent"><%= game.opponent %></span> |
				<span class="next-time"><%= game.time %></span>
			<% else %>
				<span class="next-venue">at</span>
				<span class="next-opponent"><%= game.opponent %></span> |
				<span class="next-time"><%= game.time %></span>
			<% end %>
		</h2>
	<% elsif game.date.utc.strftime("%_m/%d")[1..-1] == Time.zone.now.strftime("%_m/%d")[1..-1] && game.away == true %>
		<% unless i == 1 %>
		<a><h1 class="main-text answer" data-reveal-id="myModal" data-reveal id="responsive_headline">NO.</h1></a>
		<% i = 1 %>
		<h2 class="main-text2 gamewrap" id="responsive_headline2">
				<span class="next-venue">away game</span>
				<span class="next-opponent">@<%= game.opponent %></span>
		</h2>
		<% end %>
	<% else %>
		<% unless i == 1 %>
		<a><h1 class="main-text answer" data-reveal-id="myModal" data-reveal id="responsive_headline">NO.</h1></a>
		<% i = 1 %>
		<h2 class="main-text2 gamewrap" id="responsive_headline2">
				<span class="next-venue">vs.</span>
				<span class="next-opponent">
					<% if next_home_game > 1 %>
						<%= game.opponent %>
						in <%= next_home_game %> days |
					<% else %>
						<%= game.opponent %>
						in <%= next_home_game %> day |
					<% end %>
				<span class="next-time"><%= game.time %></span>
		</h2>
		<% end %>
	<% end %>
<% end %>