<div class="main-section">
		<div class="row container mainlogo-padding" style="padding-top: 40px;">
				<div class="large-12 columns text-center">
						<%= image_tag("atbp-main-logo.png", :alt => "are-the-barons-playing-main-logo") %>
				</div>
		</div>

				<div class="maintextwrap">
						<%= render "countdown_or_live", games: @games %>
				</div>
</div>

<div data-equalizer>
<<<<<<< HEAD
	<div class="show-for-large-up" data-equalizer-watch>
	<%= render "if_event", games: @games %>
	</div>
	<div class="large-6 columns largeright small-push-12" data-equalizer-watch>
=======
	<%= render "social_event_split", games: @games %>
	<div class="large-6 columns largeright" data-equalizer-watch>
>>>>>>> 301a6bf53e60c8bfef7ab1c1a471042a3659194c
		<%= render "schedule", schedule: @schedule %>
	</div>

	<div class="hide-for-large-up" data-equalizer-watch>
	<%= render "if_event", games: @games %>
	</div>
</div>
