<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <title><%= content_for?(:title) ? yield(:title) : "Atbp" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Atbp" %>">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
       <%= yield %>
  <script>
  jQuery("#responsive_headline").fitText(.5, { minFontSize: '160px' })
  </script>
  </body>
</html>
